* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #408080;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 2px solid black;
    position: relative; /* Importante para posicionar o botão */
}

#chatContainer {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px; /* Adiciona espaço entre o chat e o botão */
}

.chatHeader {
    background-color: #181818;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#chatMessages {
    list-style-type: none;
    padding: 20px;
    height: 400px;
    overflow-y: auto;
}

.chatInput {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chatInput input[type="text"] {
    flex: 1;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px 50px;
    color: #0b0b0b;
}

.chatInput button {
    background-color: #474343;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 22px;
    cursor: pointer;
}

#btnSair {
    position: absolute; /* Posicionamento absoluto em relação à janela do navegador */
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da direita */
}

/* Adicionei estilos para o botão de sair */
#btnSair button {
    background-color: rgb(242, 252, 255); /* Cor de fundo */
    color: #010101; /* Cor do texto */
    border: 2px solid #424243; /* Cor da borda */
    border-radius: 8px; /* Raio da borda */
    padding: 12px 24px; /* Espaçamento interno */
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte */
}
